.category-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.category-header-left h1{

    font-size:30px;

    font-weight:700;

    color:#0f172a;

    margin-bottom:8px;

}

.category-header-left p{

    color:#64748b;

    font-size:15px;

}

.add-category-btn{

    background:#2563eb;

    color:#fff;

    border:none;

    padding:14px 24px;

    border-radius:10px;

    cursor:pointer;

    font-size:15px;

    font-weight:600;

    transition:.3s;

}

.add-category-btn:hover{

    background:#1d4ed8;

}