.inventory-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

}

.inventory-header-left h1{

    font-size:34px;

    font-weight:700;

    margin-bottom:8px;

    color:#1e293b;

}

.inventory-header-left p{

    color:#64748b;

    font-size:15px;

}

.add-product-btn{

    background:#2563eb;

    color:white;

    border:none;

    padding:14px 26px;

    border-radius:12px;

    font-size:15px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.add-product-btn:hover{

    background:#1d4ed8;

    transform:translateY(-2px);

}