.top-navbar{

position:sticky;

top:0;

z-index:999;

height:80px;

background:#ffffff;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 35px;

border-bottom:1px solid #e5e7eb;

box-shadow:0 6px 20px rgba(0,0,0,.05);

}

.navbar-left{

display:flex;

align-items:center;

gap:35px;

}

.navbar-left h2{

font-size:30px;

font-weight:700;

color:#111827;

}

.search-box{

width:420px;

height:48px;

background:#f3f6fb;

border-radius:14px;

display:flex;

align-items:center;

padding:0 18px;

}

.search-icon{

font-size:18px;

color:#94a3b8;

}

.search-box input{

border:none;

outline:none;

background:none;

width:100%;

margin-left:12px;

font-size:16px;

}

.navbar-right{

display:flex;

align-items:center;

gap:20px;

}

.today-date{

font-size:15px;

font-weight:600;

color:#64748b;

}

.icon-btn{

width:48px;

height:48px;

border:none;

background:#f3f6fb;

border-radius:14px;

cursor:pointer;

display:flex;

justify-content:center;

align-items:center;

font-size:20px;

position:relative;

transition:.3s;

}

.icon-btn:hover{

background:#2563eb;

color:white;

}

.notification-dot{

position:absolute;

top:10px;

right:10px;

width:8px;

height:8px;

background:red;

border-radius:50%;

}

.profile{

display:flex;

align-items:center;

gap:12px;

padding-left:15px;

border-left:1px solid #e5e7eb;

}

.profile-icon{

font-size:42px;

color:#2563eb;

}

.profile h4{

margin:0;

font-size:16px;

font-weight:700;

}

.profile span{

font-size:13px;

color:#64748b;

}

@media(max-width:900px){

.search-box{

display:none;

}

.today-date{

display:none;

}

}