.topbar{
    height:70px;
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0 30px;
    border-bottom:1px solid #e5e7eb;
    box-shadow:0 2px 8px rgba(0,0,0,.05);
}

.topbar h2{
    font-size:28px;
    color:#1e293b;
}

.topbar-right{
    display:flex;
    align-items:center;
    gap:25px;
}

.notification-btn{
    background:none;
    border:none;
    font-size:24px;
    cursor:pointer;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile-avatar{
    width:42px;
    height:42px;
    border-radius:50%;
    background:#2563eb;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    font-weight:bold;
}